{% sw_extends '@parent/storefront/page/content/detail.html.twig' %}

{# {% block page_content_section %}
	<div class="cms-section {{ sectionClasses|join(' ') }} md-visible-flex" style="{% if sectionBgColor %}background-color: {{ sectionBgColor }};{% endif %}{% if sectionBgImg %}background-image: url({{ sectionBgImg }});background-size: {{ section.backgroundMediaMode }};{% endif %}">

		{% sw_include "@Storefront/storefront/section/cms-section-" ~ section.type ~ ".html.twig" %}
	</div>
{% endblock %} #}
