{% block slider %}
<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
		/>
	<div class="row center-xs foo2" style="height: 555px; justify-content: center; width: 75%">
		<div class="owl-carousel owl-theme" style="width:50%">
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-prenatal-postnatal.png" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Prenatal &amp; Postnatal</h3>
						<p class="secondary">
							From preconception to birth to nursing, New Chapter products are there for you, every step of the way.</p>
						<a href="/regimens/prenatal-postnatal" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-stress.png" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Stress</h3>
						<p class="secondary">Our vitamins and herbal supplements can help you alleviate occasional stress.*</p>
						<a href="/stress" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-energy.png" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Energy</h3>
						<p class="secondary">Maintain a balanced energy level with our vitamins and herbal supplements.*</p>
						<a href="/energy" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/heart-health.png" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Heart Health</h3>
						<p class="secondary">Support your heart with our 100% Wild Alaskan Salmon fish oil, vitamins, herbals, and more.*</p>
						<a href="/regimens/heart-health" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-mens-wellness.png" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Men's Wellness</h3>
						<p class="secondary">Support heart, joint, and prostate health at every stage of a man’s life.*</p>
						<a href="/regimens/mens-wellness" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-womens-wellness.png" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Women's Wellness</h3>
						<p class="secondary">Maintain a balanced energy level with our vitamins and herbal supplements.*</p>
						<a href="/regimens/womens-wellness" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-inflamation.png" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Inflammation</h3>
						<p class="secondary">Discover our herbal remedies to support pain relief† and a healthy inflammation response.*</p>
						<a href="/inflammation" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-joint-mobility.png" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Joint &amp; Mobility</h3>
						<p class="secondary">See how you can strengthen your bones and maintain healthy movement and joint flexibility.*</p>
						<a href="/regimens/joint-and-mobility/" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-immune-support.png" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Immune Support</h3>
						<p class="secondary">Keep your immune system functioning at a normal level with our products.*</p>
						<a href="/immune-support" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-sleep.jpg" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Sleep</h3>
						<p class="secondary">Support a restful night’s sleep with whole-food, targeted herbs.*</p>
						<a href="/sleep" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-beauty.jpg" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Beauty</h3>
						<p class="secondary">Promotes a youthful appearance with clinically proven results.*</p>
						<a href="/beauty" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="sliders-item">
					<div class="slider-image"><img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-healthy-aging.jpg" alt="Health needs" class="health-goal_img"></div>
					<div class="card-section">
						<h3>Healthy Aging</h3>
						<p class="secondary">Feel empowered year after year with supplements for healthy aging.</p>
						<a href="/healthy-aging" class="button health-goal__section-button">LEARN MORE</a>
					</div>
				</div>
			</div>

		</div>
		<div class="foo" style="display: flex; width: 50%; justify-content: center; height: 522.438px;">
			<div class="sliders-item" style="display: flex; background: url(https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/health-goals/health-goal-slider-prenatal-postnatal.png);">
				<div class="card-section" style="display: flex;width: 80%;background: rgba(255, 255, 255, 0.8);margin: auto;flex-direction: column;align-items: center;">
					<h3>Bleib gesund mit Selbstheilung</h3>
					<p class="secondary">Wie wir die revolutionärsten Lebensmittel unserer Zeit entwickeln?</p>
					<a class="button health-goal__section-button" href="/i/about-us" style="margin: 0">LEARN MORE</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script type="text/javascript">
	$(".owl-carousel").owlCarousel({
				autoplay: false,
				loop: true,
				margin: 10,
				nav: false,
				dots: true,
				items: 1
			});
</script>
<style>

	.owl-carousel .owl-stage {
  display: flex;
}
.owl-carousel .owl-item {
  display: flex;
          flex: 1 0 auto;
		  justify-content: center;
}

	@media(max-width: 970px) {
		.foo2 {
			height: min-content !important;
			flex-direction: column !important;
			flex-wrap: nowrap !important;
			align-items: center !important;
		}

		.foo {
			padding: 8px 0;
			width: 100% !important;
		}

		.VueCarousel {
			width: 100% !important;
			padding: 8px 0;
		}
	}

	.space-evenly {
		justify-content: space-evenly;
	}

	li.VueCarousel-dot {
		padding: 10px 5px !important;
	}

	.button {
		border-style: solid;
		border-width: 1px;
		cursor: pointer;
		font-weight: 400;
		margin: 0 0 1rem;
		position: relative;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		background-color: transparent;
		border-color: #ccc;
		color: #666;
		font-size: 1rem;
		padding: 0.875rem 2.25rem;
		border-radius: 4px;
		outline: 0;
		vertical-align: middle;
	}

	.health-goal__section-button {
		background-color: #795548;
		border-color: #795548;
		color: #fefefe;
	}

	.sliders-item {
		background-color: rgba(255, 255, 255, 0.5);
		width: 329px;
		display: inline-block;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		height: 99%;
	}

	.slider-image img {
		max-width: 100%;
	}

	.card-section {
		padding: 48px 30px 66px;
		transition: opacity 0.3s ease;
	}

	.VueCarousel-pagination {
		position: absolute;
		bottom: 26px;
	}

	.VueCarousel {
		position: relative;
	}
	@media screen and(max-width: 992px) {
		.VueCarousel {
			width: 100% !important;
			padding: 8px 0;
		}
	}

	.VueCarousel-wrapper {
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.VueCarousel-slide {
		-ms-flex-preferred-size: inherit;
		flex-basis: inherit;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-touch-callout: none;
		outline: none;
	}

	.VueCarousel-pagination {
		width: 100%;
		text-align: center;
	}

	.VueCarousel-pagination {
		position: absolute;
		bottom: 26px;
	}

	.VueCarousel-dot-container {
		display: inline-block;
		margin: 0 auto;
		padding: 0;
	}

	li.VueCarousel-dot {
		padding: 10px 5px !important;
	}

	.VueCarousel-dot {
		display: inline-block;
		cursor: pointer;
	}

	.VueCarousel-dot-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		background-color: transparent;
		padding: 0;
		border-radius: 100%;
		outline: none;
		cursor: pointer;
	}
</style>

