{% sw_extends '@parent/storefront/base.html.twig' %}

{% block base_header_inner %}
	{% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
{% endblock %}

{% block base_footer %}
	<footer>
		{% sw_include '@Storefront/storefront/layout/footer/footer.html.twig' %}
	</footer>
{% endblock %}

{% block base_main_inner %}
	<div class="container">
		{% block base_main_container %}
			<div class="container-main">
				{% block base_breadcrumb %}
					{% if breadcrumbList %}
						{% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' %}
					{% endif %}
				{% endblock %}

				{% block base_content %}{% endblock %}
			</div>
		{% endblock %}
	</div>
{% endblock %}
