<div class="newsletter py25 px15 bg-cl-secondary ">
	<div class="container">
		<div class="newsletter-content m0 row middle-sm start-md">
			<div class="col-md-8 col-xs-12">
				<h3 class="h3 cl-accent weight-400 m0">Subscribe to get our newsletter today for wellness tips and special offers.</h3>
			</div>
			<div class="newsletter-button col-md-4 col-xs-12 end-md">
				<button class="button-outline dark fs-medium">Subscribe</button>
			</div>
		</div>
	</div>
</div>

<style>
	@media(min-width: 767px) and(max-width: 1200px) {
		.button-outline {
			min-width: 100%;
			color: #828282;
		}
	}
	@media(max-width: 767px) {
		.h3 {
			font-size: 18px;
			text-align: center;
		}
		.newsletter-button {
			padding-top: 25px;
			text-align: center;
		}
	}
	.m0 {
		margin: 0;
	}
	@media only screen and(min-width: 768px) {
		.start-md {
			-ms-flex-pack: start;
			justify-content: flex-start;
			text-align: start;
		}
	}
	@media only screen and(min-width: 576px) {
		.middle-sm {
			-ms-flex-align: center;
			align-items: center;
		}
	}

	.cl-accent {
		color: #4f4f4f;
	}
	.weight-400 {
		font-weight: 400;
	}
	h3,
	.h3 {
		font-size: 24px;
	}
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: 'Playfair Display', serif;
	}

	@media(min-width: 768px) {
		.end-md {
			justify-content: flex-end;
			text-align: end;
		}
	}


	.dark {
		border: 1px solid #828282 !important;
	}

	@media(min-width: 900px) {
		.button-outline {
			border: 2px solid;
			min-width: 220px;
		}
	}

	.button-outline {
		border: 2px solid;
		height: 62px;
	}

	.no-outline {
		outline: 0;
	}

	.py15 {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.px40 {
		padding-left: 40px;
		padding-right: 40px;
	}

	.bg-cl-transparent {
		background-color: transparent;
	}

	.cl-secondary {
		color: #828282 !important;
	}

	.fs-medium {
		font-size: 18px;
	}

	.sans-serif {
		font-family: 'Roboto', sans-serif;
	}

	.button-outline:hover,
	.button-outline:focus {
		color: #fff;
		background: #000;
		border-color: #000;
	}

	.py25 {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.brdr-cl-secondary {
		border-color: #e0e0e0;
	}

	.brdr-bottom-1 {
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	.bg-cl-secondary {
		background-color: #f2f2f2;
	}

	.button-outline:hover {
		color: white;
	}
</style>
