{% sw_extends '@parent/storefront/page/product-detail/description.html.twig' %}

{% block utilities_offcanvas_content %}
	{{parent()}}

	{% block icons %}
		<div class="health-icons">
			{% if page.product.translated.customFields.custom_product_information_less_sugar %}
				<div class="img-icon">
					<img class="icon-health" src="https://ntheanh201.codes/Shopware-VietkenTheme/assets/less-sugar.svg"/>
				</div>
			{% endif %}

			{% if page.product.translated.customFields.custom_product_information_lactose_free %}
				<div class="img-icon">
					<img class="icon-health" src="https://ntheanh201.codes/Shopware-VietkenTheme/assets/lactose-free.svg"/>
				</div>
			{% endif %}


			{% if page.product.translated.customFields.custom_product_information_organic %}
				<div class="img-icon">
					<img class="icon-health" src="https://ntheanh201.codes/Shopware-VietkenTheme/assets/organic.svg"/>
				</div>
			{% endif %}


			{% if page.product.translated.customFields.custom_product_information_isVegan %}
				<div class="img-icon">
					<img class="icon-health" src="https://ntheanh201.codes/Shopware-VietkenTheme/assets/vegan.svg"/>
				</div>
			{% endif %}


			{% if page.product.translated.customFields.custom_product_information_soya_free %}
				<div class="img-icon">
					<img class="icon-health" src="https://ntheanh201.codes/Shopware-VietkenTheme/assets/soya-free.svg"/>
				</div>
			{% endif %}

		</div>
	{% endblock %}

	<style>
		.health-icons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 30px;
		}

		.img-icon {
			width: 20%;
		}

		th.properties-label {
			padding-left: 0 !important;
		}
	</style>
{% endblock %}
