{% sw_extends '@parent/storefront/page/product-detail/description.html.twig' %}

{% block utilities_offcanvas_content %}
	{{parent()}}

	{% block icons %}
		<div class="health-icons">
			{% for key, property in page.product.sortedProperties.elements %}
				{% if property.id == "2087615072414d3699a35fddf9883f2b" %}
					{% for index, option in property.options.elements %}
						{% if option.name == "less sugar" %}
							<div class="img-icon">
								<img class="icon-health" src="https://ntheanh201.codes/Shopware-VietkenTheme/assets/less-sugar-70px.svg"/>
								<div class="font-bold">
									Less Sugar
								</div>
							</div>
						{% endif %}
						{% if option.name == "vegan" %}
							<div class="img-icon">
								<img class="icon-health" src="https://ntheanh201.codes/Shopware-VietkenTheme/assets/vegan-70px.svg"/>
								<div class="font-bold">
									Vegan
								</div>
							</div>
						{% endif %}
						{% if option.name == "organic" %}
							<div class="img-icon">
								<img class="icon-health" src="https://ntheanh201.codes/Shopware-VietkenTheme/assets/organic-70px.svg"/>
								<div class="font-bold">
									Organic
								</div>
							</div>
						{% endif %}
						{% if option.name == "lactose free" %}
							<div class="img-icon">
								<img class="icon-health" src="https://ntheanh201.codes/Shopware-VietkenTheme/assets/lactose-free-70px.svg"/>
								<div class="font-bold">
									Lactose Free
								</div>
							</div>
						{% endif %}
						{% if option.name == "soya free" %}
							<div class="img-icon">
								<img class="icon-health" src="https://ntheanh201.codes/Shopware-VietkenTheme/assets/soya-free-70px.svg"/>
								<div class="font-bold">
									Soya Free
								</div>
							</div>
						{% endif %}

					{% endfor %}
				{% endif %}

			{% endfor %}
		</div>
	{% endblock %}

	<style>
		.health-icons {
			display: flex;
			{# justify-content: space-evenly; #}
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 30px;
		}

		.img-icon {
			width: 20%;
			text-align: center;
		}

		th.properties-label {
			padding-left: 0 !important;
		}

		.icon-health {
			width: 70%;
		}

		.font-bold {
			font-family: Roboto, Helvetica, Arial, sans-serif;
			font-weight: 700;
			margin-top: 10px;
		}
	</style>
{% endblock %}
