<div class="container page category-like-page">
	<div class="page-content">
		<h1 class="page-heading">Our Science</h1>
		<div style="text-align: center; padding 0 15rem; margin: 0 auto;">
			<div class="content-body" style="font-size: 1.5rem;">
				<p>Discover the intelligence and intention behind every New Chapter® product.</p>
			</div>
		</div>
		<div class="content-card image left-image">
			<div class="media" style="background-image: url('https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/pages/content-ingredients-calcium.jpg'); background-position: center 45%;"><img class="u-hiddenVisually" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/pages/content-ingredients-calcium.jpg" alt=""></div>
			<div class="content">
				<div class="content-header">
					<h3 style="font-size: 2.625rem;">It’s in our nature to honor Earth’s goodness.</h3>
				</div>
				<div class="content-body">
					<p style="font-size: 1.125rem;">We’re committed to using ingredients you can trust—like whole fruits, vegetables, herbs, and mushrooms. We source sustainably whenever possible, nourishing body and soul with the healing intelligence of pure whole foods and herbs. We’re also leading advocates of the non-GMO movement, with all of our multivitamins and many other supplements Non-GMO Project Verified.</p>
				</div>
			</div>
		</div>
		<div class="content-card content-video right-video">
			<div class="media">
				<div id="T4D3dix5mHw" class="youtube" data-params="modestbranding=1&amp;showinfo=0&amp;rel=0&amp;iv_load_policy=3&amp;vq=hd720" style="background-image: url(&quot;https://i.ytimg.com/vi/T4D3dix5mHw/sddefault.jpg&quot;);">&nbsp;<div class="play"></div>
				</div>
			</div>
			<div class="content">
				<div class="content-header">
					<h3 style="font-size: 2.625rem;">The fermentation advantage</h3>
				</div>
				<div class="content-body">
					<p>All of our multivitamins are fermented with whole foods and beneficial probiotics. This unique 2-step method brings greater vitality to our vitamins, minerals, and herbs and makes them easily digestible. Our whole-food fermented multivitamins are gentle enough to take anytime—even on an empty stomach. And they include a nutrient-packed fermentate that delivers many beneficial factors including immune-boosting beta glucans.</p>
				</div>
			</div>
		</div>
		<h3 id="fermentation" style="font-size: 2.625rem; text-align: center;">How our fermentation process works</h3>
		<div class="section-card section-split" style="text-align: center;">
			<div class="content-card" style="margin: .25rem;"><img style="padding-top: 20px; width: 200px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/img/fermentation/illo_science_step1.svg" alt="">
				<h3>Step 1</h3>
				<p class="secondary">Organic yeast (<em>Saccharomyces cerevisiae</em>) is mixed with natural plant carbohydrates.</p>
			</div>
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 20px; width: 200px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/img/fermentation/illo_science_step2.svg" alt="">
				<h3>Step 2</h3>
				<p class="secondary">Targeted nutrients (vitamins and minerals) are added to the yeast solution.</p>
			</div>
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 20px; width: 200px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/img/fermentation/illo_science_step3.svg" alt="">
				<h3>Step 3</h3>
				<p class="secondary">Organic, non-GMO soy and additional organic whole foods, such as alfalfa, carrot, and orange peel, are added for continued fermentation.</p>
			</div>
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 20px; width: 200px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/img/fermentation/illo_science_step4.svg" alt="">
				<h3>Step 4</h3>
				<p class="secondary">The yeast begins to biotransform the vitamin or mineral by absorbing it into its structure.</p>
			</div>
		</div>
		<div class="section-card section-split" style="text-align: center; margin-bottom: 60px;">
			<div class="content-card" style="margin: .25rem;"><img style="padding-top: 20px; width: 200px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/img/fermentation/illo_science_step5.svg" alt="">
				<h3>Step 5</h3>
				<p class="secondary">Enzymes from tropical fruit are added to slow down fermentation.</p>
			</div>
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 20px; width: 200px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/img/fermentation/illo_science_step6.svg" alt="">
				<h3>Step 6</h3>
				<p class="secondary">
					<em>L. acidophilus</em>,
					<em>B. biﬁdum</em>, and
					<em>L. rhamnosus</em>
					are added and low heat is applied to complete the fermentation process.</p>
			</div>
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 20px; width: 200px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/img/fermentation/illo_science_step7.svg" alt="">
				<h3>Step 7</h3>
				<p class="secondary">Individual whole-food fermented nutrients are intelligently blended to create exclusive formulations for different needs and life stages.</p>
			</div>
		</div>
		<div class="section-card section-split" style="text-align: center;">&nbsp;</div>
		<div class="section-card section-split" style="text-align: center;">&nbsp;</div>
		<h3 style="font-size: 2.625rem; text-align: center;">Our ten formulation principles</h3>
		<p style="text-align: center; font-size: 1.125rem;">Every New Chapter product is created following these formulation principles and their inherent spirit. We also use them to guide our work with one another and with our extended circle of retailers and customers.</p>
		<div class="section-card section-split" style="text-align: center;">
			<div class="content-card" style="margin: .25rem;"><img style="padding-top: 30px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/formulation-principles/icon_science_bring_light.png" alt="">
				<div class="content-header">
					<p style="font-weight: bold; padding-top: 1.25rem; margin-bottom: .25rem;">Bring Light</p>
				</div>
				<div class="content-body">
					<p>We hold the highest intention to relieve suffering and support wellness, bringing the light of health and peace to all who seek it.</p>
				</div>
			</div>
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 30px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/formulation-principles/icon_science_make_a_contribution.png" alt="">
				<div class="content-header">
					<p style="font-weight: bold; padding-top: 1.25rem; margin-bottom: .25rem;">Make a contribution</p>
				</div>
				<div class="content-body">
					<p>We only create products that are innovations and represent a “new chapter”—whether as an improvement to an existing product, as a new offering within a supplement category, or as a unique contribution to the field of complementary healthcare.</p>
				</div>
			</div>
		</div>
		<div class="section-card section-split" style="text-align: center;">
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 30px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/formulation-principles/icon_science_do_not_harm.png" alt="">
				<div class="content-header">
					<p style="font-weight: bold; padding-top: 1.25rem; margin-bottom: .25rem;">Do no harm</p>
				</div>
				<div class="content-body">
					<p>We employ the Golden Rule, and create products we would-and do-give to our loved ones. We aim to support human health, community, and Mother Earth with every business decision we make. As such, we are a Certified B Corporation, balancing people, planet, and profit.</p>
				</div>
			</div>
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 30px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/formulation-principles/icon_science_ack_tradition.png" alt="">
				<div class="content-header">
					<p style="font-weight: bold; padding-top: 1.25rem; margin-bottom: .25rem;">Acknowledge tradition</p>
				</div>
				<div class="content-body">
					<p>Many New Chapter supplements are inspired by ancient herbal traditions from around the world. Like healers through the ages we deliver the wisdom of nature’s whole, pure ingredients.</p>
				</div>
			</div>
		</div>
		<div class="section-card section-split" style="text-align: center;">
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 30px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/formulation-principles/icon_science_use_common_sense.png" alt="">
				<div class="content-header">
					<p style="font-weight: bold; padding-top: 1.25rem; margin-bottom: .25rem;">Use common sense</p>
				</div>
				<div class="content-body">
					<p>It makes perfect sense to formulate supplements from whole foods and with a whole-food approach, avoiding synthetics, GMOs, and harmful chemicals.</p>
				</div>
			</div>
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 30px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/formulation-principles/icon_science_112.png" alt="">
				<div class="content-header">
					<p style="font-weight: bold; padding-top: 1.25rem; margin-bottom: .25rem;">1 + 1 &gt; 2</p>
				</div>
				<div class="content-body">
					<p>The herbal blends in New Chapter products work together, contributing much more than the sum of their parts. And our innovations come from cross-functional teams who work in synergy to make high-quality, effective, and meaningful products.</p>
				</div>
			</div>
		</div>
		<div class="section-card section-split" style="text-align: center;">
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 30px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/formulation-principles/icon_science_to_be_open.png" alt="">
				<div class="content-header">
					<p style="font-weight: bold; padding-top: 1.25rem; margin-bottom: .25rem;">To be open</p>
				</div>
				<div class="content-body">
					<p>We aim to be humble. We are receptive to surprises, contradictions, innovations, and opportunities. We tell the truth, and welcome the truth from others.</p>
				</div>
			</div>
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 30px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/formulation-principles/icon_science_ack_science.png" alt="">
				<div class="content-header">
					<p style="font-weight: bold; padding-top: 1.25rem; margin-bottom: .25rem;">Acknowledge science</p>
				</div>
				<div class="content-body">
					<p>We carefully research and scientifically validate the action, identity, and efficacy of our Nature-inspired products. We rely upon experts in every field we study, whether it is enzymes, herbs, or fermentation.</p>
				</div>
			</div>
		</div>
		<div class="section-card section-split" style="text-align: center;">
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 30px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/formulation-principles/icon_science_to_be_light.png" alt="">
				<div class="content-header">
					<p style="font-weight: bold; padding-top: 1.25rem; margin-bottom: .25rem;">To be light</p>
				</div>
				<div class="content-body">
					<p>The creative energies of formulation flow when we remember to work with a sense of humor and with lightness. Sharing joy helps buoy our teams and we hope this joy shines out in every product we make.</p>
				</div>
			</div>
			<div class="content-card" style="margin: .35rem;"><img style="padding-top: 30px;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/formulation-principles/icon_science_to_prosper.png" alt="">
				<div class="content-header">
					<p style="font-weight: bold; padding-top: 1.25rem; margin-bottom: .25rem;">To prosper</p>
				</div>
				<div class="content-body">
					<p>Our ultimate responsibility is to support health and wellness—helping you to thrive in your life and work. And we hope our products and business inspires and encourages much prosperity through the Wisdom of Nature.</p>
				</div>
			</div>
		</div>
		<h3 style="font-size: 2.625rem; text-align: center;">A leader in supplement quality</h3>
		<div class="content-body" style="font-size: 1.125rem; text-align: center;">
			<p>Every ingredient. Every product. Every time.</p>
		</div>
		<div style="display: flex;">
			<div class="containerOne" style="flex: 1;"><img style="margin: 0 auto; display: block;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/supplement-quality/quality.png" alt="New Chapter's Quality Icon, representing a commitment to high quality products and constant improvement and innovation.">
				<p style="text-align: center; font-size: .875rem; padding: 0 .9rem;">We innovate while upholding our fundamental dedication to high quality.</p>
			</div>
			<div class="containerTwo" style="flex: 1;"><img style="margin: 0 auto; display: block;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/supplement-quality/purity.png" alt="New Chapter's Purity Icon, representing pure ingredient sourcing and careful processing.">
				<p style="text-align: center; font-size: .875rem; padding: 0 .9rem;">We take the time to source pure ingredients and process them with great care.</p>
			</div>
			<div class="containerThree" style="flex: 1;"><img style="margin: 0 auto; display: block;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/supplement-quality/efficacy.png" alt="New Chapter's Efficacy Icon, demonstrating the importance of effective nourishment in New Chapter formulation.">
				<p style="text-align: center; font-size: .875rem; padding: 0 .9rem;">We seek out effective approaches to nourish your body &amp; soul.</p>
			</div>
			<div class="containerFour" style="flex: 1;"><img style="margin: 0 auto; display: block;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/supplement-quality/potency.png" alt="New Chapter's Potency Icon, indicating that product value is rooted in potent and consistent formulas.">
				<p style="text-align: center; font-size: .875rem; padding: 0 .9rem;">Our product value and consistency is rooted in potent formulas made with integrity.</p>
			</div>
			<div class="containerFive" style="flex: 1;"><img style="margin: 0 auto; display: block;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/supplement-quality/identity.png" alt="New Chapter's Identity Icon, showcasing a commitment to thorough product testing.">
				<p style="text-align: center; font-size: .875rem; padding: 0 .9rem;">We test thoroughly and verify the identity of each product.</p>
			</div>
		</div>
		<div style="display: flex;">
			<div class="columnOne" style="flex: 1; padding: 0 2rem 0 0;">
				<h2 style="font-size: 1.125rem; font-weight: bold; margin-bottom: 0;">Validated by experts</h2>
				<ul>
					<li style="padding: .5rem 0;">Each product designed by holistic practitioners: naturopaths, holistic nutritionists, and master herbalists</li>
					<li style="padding: .5rem 0;">Each formula validated by a team of scientists: clinical physicians, toxicologists, natural products chemists, and quality engineers</li>
				</ul>
			</div>
			<div class="columnTwo" style="flex: 1; padding: 0 2rem 0 0;">
				<h2 style="font-size: 1.125rem; font-weight: bold; margin-bottom: 0;">Raw materials &amp; finished
					<span style="display: block;">products strictly verified</span>
				</h2>
				<ul>
					<li style="padding: .5rem 0;">Marker compounds assayed</li>
					<li style="padding: .5rem 0;">Identity and composition verified</li>
					<li style="padding: .5rem 0;">Tested for heavy metals</li>
					<li style="padding: .5rem 0;">Tested for adulterants or aflatoxins</li>
					<li style="padding: .5rem 0;">Tested for residual solvents</li>
					<li style="padding: .5rem 0;">Tested for pesticides</li>
					<li style="padding: .5rem 0;">Label claims verified</li>
					<li style="padding: .5rem 0;">Identity verified</li>
				</ul>
			</div>
			<div class="columnThree" style="flex: 1; padding: 0 2rem 0 0;">
				<h2 style="font-size: 1.125rem; font-weight: bold; margin-bottom: 0;">Additive free</h2>
				<ul>
					<li style="padding: .5rem 0;">NO added sugar or sweeteners</li>
					<li style="padding: .5rem 0;">NO synthetic binders or fillers</li>
					<li style="padding: .5rem 0;">NO artificial colors or flavors</li>
				</ul>
			</div>
		</div>
		<h3 style="font-size: 2.625rem; text-align: center;">Independently Certified</h3>
		<div style="display: flex; margin-top: 60px;">
			<div style="flex: 1;"><img style="margin: 0 auto; display: block;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/independently-certified/certified-organic.png" alt="Official ICS Certified Organic certification, identifying New Chapter vitamins made with organic vegetables and herbs.">
				<p style="text-align: center; margin-top: 20px; font-size: .875rem; padding: 0 1rem;">Vitamins made with organic vegetables &amp; herbs</p>
			</div>
			<div style="flex: 1;"><img style="margin: 0 auto; display: block;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/independently-certified/non-gmo.png" alt="Official Non-GMO Product Verified certification.">
				<p style="text-align: center; margin-top: 20px; font-size: .875rem; padding: 0 1rem;">Committed to non-GMO sourcing</p>
			</div>
			<div style="flex: 1;"><img style="margin: 0 auto; display: block;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/independently-certified/certified-b-corporation.png" alt="Official B-Corporation certification, identifying New Chapter as a company using business as a force for good.">
				<p style="text-align: center; margin-top: 20px; font-size: .875rem; padding: 0 1rem;">Using business as a force for good</p>
			</div>
			<div style="flex: 1;"><img style="margin: 0 auto; display: block;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/independently-certified/certified-kosher.png" alt="Independent Kosher certification.">
				<p style="text-align: center; margin-top: 20px; font-size: .875rem; padding: 0 1rem;">Certified Kosher vitamins &amp; mushrooms</p>
			</div>
			<div style="flex: 1;"><img style="margin: 0 auto; display: block;" src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/independently-certified/certified-responsible-fisheries.png" alt="Official Alaska Seafood Certified Responsible Fisheries certification, indicating that New Chapter fish oil products are responsibly sourced.">
				<p style="text-align: center; margin-top: 20px; font-size: .875rem; padding: 0 1rem;">Salmon from certified responsible Alaska fisheries</p>
			</div>
		</div>
	</div>

</div>
