{% block custom_navbar %}
	<ul class="navList visible-search-bar" id="menu">
		<li class="bg-cl margin-nav">
			<a class="block px25 py13 brdr-cl-secondary cl-accent no-underline fs-medium-small w-cl" href="#" title="Menu">Produkte</a>
			<div class="submenu">
				<ul class="menus">
					{% block custom_navigation %}
						{% sw_include '@VietkenDesign/storefront/layout/header/custom-navigation.html.twig' %}
					{% endblock %}

				</li>
				<li class="bg-cl margin-nav">
					<a class="block px25 py13 brdr-cl-secondary cl-accent no-underline fs-medium-small w-cl" href="/health-needs">Gesundheit</a>
					<div class="submenu">
						<ul class="menus">

							<div class="main-navigation" id="mainNavigation" data-flyout-menu="true">
								<nav class="nav main-navigation-menu" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" style="flex-direction: column;">
									<a class="bl-cl nav-link main-navigation-link home-link" href="/all-product" itemprop="url" title="All Product">
										<div class="main-navigation-link-text">
											<span itemprop="name">All Product</span>
										</div>
									</a>


									<a class="bl-cl nav-link main-navigation-link" href="http://localhost:8000/Industrial/" itemprop="url" data-flyout-menu-trigger="5c263e6f504442979031cf8cb1d3c9ab" title="Industrial">
										<div class="main-navigation-link-text">
											<span itemprop="name">Industrial</span>
										</div>
									</a>
								</nav>
							</ul>
						</div>

					</li>{# <li class="bg-cl margin-nav">
																<a class="block px25 py13 brdr-cl-secondary cl-accent no-underline fs-medium-small w-cl" href="/ingredients" exact>Zutaten</a>
															</li> #}</li>
				<li class="bg-cl margin-nav">
					<a class="block px25 py13 brdr-cl-secondary cl-accent no-underline fs-medium-small w-cl" href="/about-us" exact>Über uns</a>
				</li>
			</ul>
			<style>
				.navList {
					padding: 0;
					margin: 0;
					display: flex;
					justify-content: center;
					list-style: none;
				}

				.py13 {
					padding: 2px 12px;
				}

				.navList .bg-cl {
					background-color: #795548;
				}

				.navList .bg-cl:hover {
					background-color: #ffffff;
				}

				.navList .bg-cl:hover a {
					color: black !important;
					text-decoration: none !important;
				}

				.navList .bg-cl a:hover {
					{
						# background-color: #ffffff; #
					}
				}

				.w-cl {
					// font-weight: bold;
					color: white;
				}

				.w-cl:hover {
					color: #000000;
				}

				.submenu {
					height: auto;
					max-width: 400px;
					position: absolute;
					z-index: 99;
					display: none;
					border: 0;
					background-color: #fefefe;
					padding: 0.75rem 1.5rem !important;
					text-align: left;
				}

				ul.menus {
					max-width: 75.25rem;
					width: 100%;
					border-left: 0;
					margin: auto;
					padding-left: 0;
				}

				.menus li {
					display: block;
					width: 100%;
					font: 12px Arial;
					padding: 0.75rem;
				}

				#menu li:hover .submenu {
					display: block;
				}

				#menu li:hover .submenu .w-cl {
					color: black;
				}

				.navList .bg-cl:hover a {
					color: black;
				}

				#menu a {
					color: white;
				}

				.fs-small {
					font-size: 14px;
				}
			</style>
		{% endblock %}
	</li>
