{% sw_extends '@parent/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}
	<div class="top-bar d-none d-lg-block">
		<nav class="top-bar-nav col-md-12" style="height: 1.4rem;">
			<div class="col-md-4 center-md top-bar-nav-custom">
				{% block layout_header_top_bar_service %}
					{% sw_include '@Storefront/storefront/layout/header/actions/service-menu-widget.html.twig' %}
				{% endblock %}
			</div>
			<div class="col-md-4 center-md top-bar-nav-custom">Versandkostenfrei ab 100 €</div>
			<div class="col-md-4 center-md top-bar-nav-custom">
				{% block layout_header_top_bar_language %}
					{% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}
				{% endblock %}
				{# {% block layout_header_top_bar_currency %}
					{% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}
				{% endblock %} #}
			</div>

		</nav>
	</div>

	<style>

		.icon-help svg {
			color: #000000 !important;
		}

		.top-bar {
			background-color: #c6aa9f;
			color: #000000;
		}

		.top-bar button {
			color: #000000;
		}

		.top-bar-nav-custom {
			display: flex;
			align-items: center;
		}

		.center-md {
			justify-content: center;
			text-align: center;
		}
		
		.icon-help svg {
			padding: 3px;
		}
		.header-cart-total {
			color: #fff;
		}

		.header-cart-total:hover {
			color: #795548;
		}
	</style>
{% endblock %}
