{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
	{% block how_to_use %}
		<div class="how-to-use">
			{% if page.product.translated.customFields.custom_how_to_use_information != null %}
				{{page.product.translated.customFields.custom_how_to_use_information}}
			{% endif %}
		</div>
	{% endblock %}
    {# <pre>
        {{ dump() }}
    </pre> #}
{% endblock %}
